#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <1000>;
    acceleration-exponent = <0>;
    trigger-period-ms = <16>;
};

/ {
    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder>;
        triggers-per-rotation = <20>;
    };

    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    combos {
        compatible = "zmk,combos";

        qwerty {
            bindings = <&tog 1>;
            key-positions = <43 44 45 46>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "COLEMAK";
            bindings = <
&kp ESC    &kp Q  &kp W  &kp F         &kp P  &kp B                                &kp UP                &kp J        &kp L  &kp U         &kp Y    &kp SEMICOLON  &kp BACKSPACE
&kp TAB    &kp A  &kp R  &kp S         &kp T  &kp G                      &kp LEFT  &kp ENTER  &kp RIGHT  &kp M        &kp N  &kp E         &kp I    &kp O          &kp SQT
&kp LCTRL  &kp Z  &kp X  &kp C         &kp D  &kp V        &kp C_MUTE              &kp DOWN              &kp K        &kp H  &kp COMMA     &kp DOT  &kp FSLH       &kp DEL
                         &kp LEFT_ALT  &mo 2  &lt 3 SPACE                                                &lt 4 ENTER  &td0   &kp LEFT_WIN
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        alternative_layer {
            bindings = <
&trans  &kp Q  &kp W  &kp E   &kp R   &kp T                     &trans          &kp Y   &kp U   &kp I      &kp O    &kp P     &trans
&trans  &kp A  &kp S  &kp D   &kp F   &kp G             &trans  &trans  &trans  &kp H   &kp J   &kp K      &kp L    &kp SEMI  &kp SQT
&trans  &kp Z  &kp X  &kp C   &kp V   &kp B   &trans            &trans          &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH  &trans
                      &trans  &trans  &trans                                    &trans  &trans  &trans
            >;

            sensor-bindings = <&scroll_encoder>;
            label = "QWERTY";
        };

        raise_layer {
            display-name = "NUM&SYMBOL";
            bindings = <
&trans  &kp ASTERISK  &kp PLUS  &kp MINUS  &kp EQUAL  &kp SLASH                               &mmv MOVE_UP                     &trans  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp UNDERSCORE  &trans     &trans
&trans  &kp N1        &kp N2    &kp N3     &kp N4     &kp N5                  &mmv MOVE_LEFT  &mkp MCLK       &mmv MOVE_RIGHT  &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp BACKSLASH   &kp PIPE   &trans
&trans  &kp N6        &kp N7    &kp N8     &kp N9     &kp NUMBER_0  &trans                    &mmv MOVE_DOWN                   &trans  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp TILDE       &kp GRAVE  &trans
                                &trans     &trans     &trans                                                                   &trans  &trans                &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        lower_layer {
            display-name = "NAVIGATION";
            bindings = <
&trans  &kp PG_UP       &kp HOME      &kp UP        &kp END       &out OUT_BLE                               &kp C_BRI_INC                   &trans     &mkp MB4        &mmv MOVE_UP    &mkp MB5         &kp PRINTSCREEN  &trans
&trans  &kp PG_DN       &kp LEFT      &kp DOWN      &kp RIGHT     &out OUT_USB            &kp C_VOLUME_DOWN  &kp C_MUTE     &kp C_VOLUME_UP  &trans     &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &kp SCROLLLOCK   &trans
&trans  &bt BT_CLR_ALL  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &trans                       &kp C_BRI_DEC                   &kp RCTRL  &mkp LCLK       &mkp MCLK       &mkp RCLK        &kp INS          &trans
                                      &trans        &trans        &trans                                                                     &trans     &trans          &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        deep_layer {
            display-name = "Fn";
            bindings = <
&trans  &sys_reset  &bootloader      &studio_unlock   &trans   &trans                                    &mmv MOVE_UP                     &trans           &rgb_ug RGB_SPI  &rgb_ug RGB_SPD  &bootloader      &sys_reset  &trans
&trans  &kp F1      &kp F2           &kp F3           &kp F4   &kp F5                    &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp F6           &kp F7           &kp F8           &kp F9           &kp F10     &trans
&trans  &trans      &rgb_ug RGB_EFR  &rgb_ug RGB_EFF  &kp F11  &rgb_ug RGB_ON  &trans                    &mmv MOVE_DOWN                   &rgb_ug RGB_OFF  &kp F12          &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &trans      &trans
                                     &trans           &trans   &trans                                                                     &trans           &trans           &trans
            >;

            sensor-bindings = <&inc_dec_kp U D>;
        };
    };
};
